

/* BASIC STYLINGS
============================================================================= */
body                            { padding-top:5px; }

/* form styling */
#form-container                { background:#ffffff; margin-bottom:5px;
    border-radius:5px; }
#form-container .page-header   { background:#ffffff; margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 { display: block }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; color: black; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }

/* we will style the span as the circled number */
#status-buttons span            { background:#C7CB11; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons turn light green-blue*/
#status-buttons a.active span   { background:#9A00BC; }



#yourCake {

	display: block;
	padding: 10px;
	max-width: 100%;
	max-height: 100%;
	border: 5px solid red;
	margin: 0 auto;

}

#cakeImg{

	width: 150px;
	margin: 0 auto;

}