
<div id="theCakeForm" class="text-center">
    <h1> Build a Cake Form</h1>
    <!-- <h1>{{ shapes }}</h1> -->
    <div id="yourCake">
        
        <img id="cakeImg" src="http://cakeexpress.co.in/images/CAKE-BIRTHDAY21.png">
        <p>(We hope you're the type of person who enjoyed alphabet soup.)</p>
        <br>
        <br>

        <p><b>Cake Name</b><p>
        {{cake.name}}
        <br>
        <br>

        <p><b>Number of Layers</b><p>
        {{cake.selectedNumLayers}}
        <br>
        <br>
        <p><b>Cake Shape</b></p>
        {{currentPrices.shape.name}}
        <br>
        <br>
        <p><b>Cake Icing</b></p>
        {{currentPrices.icing.name}}
        <br>
        <br>
        <p><b>Layer 1 Filling (if at all)</b></p>
        {{currentPrices['layers'][0]['filling'].name}}
        <br>
        <br>
        <p><b>Layer 2 Filling (if at all)</b></p>
        {{currentPrices['layers'][1]['filling'].name}}
        <br>
        <br>
        <p><b>Layer 3 Filling (if at all)</b></p>
        {{currentPrices['layers'][2]['filling'].name}}
        <br>
        <br>
        <p><b>Cake Order Quantity</b></p>
        <p>{{cake.numOrdered}}</p>
        <br>
        <br>
        <p><b>Cake Price</b></p>
        <p>${{cake.price}}</p>
        <br>
        <br>



    </div>
    <form id="cake-builder-wizard" name="buildCakeForm" ng-submit="storeCake(cake)">
        
        



        <!-- check that cake.$valid is true && execute functions on submit above -->
        

        <ui-view></ui-view>
 


        
    

    </form>
    <div id="cake-builder-wizard-buttons" class="text-center">
        <a ui-sref-active="active" ui-sref="cake-builder.first"><span>1</span> Name & Pretty Things</a>
        <a ui-sref-active="" ui-sref="cake-builder.second"><span>2</span> It's What's Inside</a>
        <a ui-sref-active="" ui-sref="cake-builder.third"><span>3</span> Make It Mine</a>
    </div>
</div>


        <!-- <button ng-click="deleteCake(cake.name)">Delete Cake</button> -->







    <!--                 <span>Question</span>
        <error-message ng-show="editCardForm.question.$touched && editCardForm.question.$error.required">
            Question is a required field.
        </error-message>
        <error-message ng-show="editCardForm.question.$error.minlength">
            Your question needs to be atleast 15 characters long.
        </error-message>
        <input ng-model="editedCard.question" type="text" ng-minlength="15" required name="question"><br>
        <span>Answer</span>
        <error-message ng-show="editCardForm.Answer1.$error.maxlength">
            Your answer is too long.
        </error-message>
        <input ng-model="editedCard.answers[0].text" required type="text" ng-maxlength="40" name="Answer1"><br>
        <input ng-model="editedCard.answers[0].correct" type="checkbox" value="Check">This the correct answer<br>
        <span>Answer</span>
        <error-message ng-show="editCardForm.Answer2.$error.maxlength">
            Your answer is too long.
        </error-message>
        <input ng-model="editedCard.answers[1].text"  required ng-maxlength="40" type="text" name="Answer2"><br>
        <input ng-model="editedCard.answers[1].correct" type="checkbox" value="Check">This the correct answer<br>
        <span>Answer</span>
        <error-message ng-show="editCardForm.Answer3.$error.maxlength">
            Your answer is too long.
        </error-message>
        <input ng-model="editedCard.answers[2].text"  required ng-maxlength="40" type="text" name="Answer3"><br>
        <input ng-model="editedCard.answers[2].correct" type="checkbox" value="Check">This the correct answer<br> -->